/*
============================
Name:  HOMZ - Real Estate Template
Version: 1.0.0
Description: HOMZ - Real Estate Template
Author: Vikiglab
Author URI: https://themeforest.net/user/vikinglab/portfolio
Location:
============================
*/
