/*
============================
Name:  HOMZ - Real Estate Template
Version: 1.0.0
Description: HOMZ - Real Estate Template
Author: Vikiglab
Author URI: https://themeforest.net/user/vikinglab/portfolio
Location:
============================
*/

/* ===== Global Overrides ===== */

/* Increase header logo size */
.site-logo img,
.mobile-logo img {
    height: 60px !important;
    width: auto !important;
    max-width: none !important;
}
